.container{
    width: 100%;
    height: 100%;
    display: flex;
    .form_area{
        min-width: 200px;    
        float: left;
        width: 30%;
        height: 100%;
        .btn_area{
            display: block;
            clear: both;
            button{
                margin: 10px;
            }
        }
    }
    .thumnail_area{
        width: 70%;
        height: 100%;
     
        img{
            min-width: -webkit-calc(70%-200px);
            width: 100%;
            height: 100%;
        }
    }
}