<div class="container">
    <div class="form_area">
        <p class="btn_area">
            <mat-form-field class="">
                <mat-label>타이틀</mat-label>
                <input matInput #title (change)="addData('title',title.value)">
            </mat-form-field>
        </p>
        <p class="btn_area">
            <mat-form-field class="">
                <mat-label>videoId</mat-label>
                <input matInput  #videoId (change)="addData('playerId',videoId.value)">
            </mat-form-field>
        </p>

        <p class="btn_area">
            <button mat-raised-button color="primary" (click)="flie_uploader.click()">
                <mat-icon>image</mat-icon>
                이미지 찾기
            </button>
            <input type="file" hidden #flie_uploader accept="image/png, image/jpeg, image/gif, image/jpg" multiple
                (change)="selectFile($event.target.files)">
        </p>
        <p class="btn_area">
            <button mat-raised-button color="primary" (click)="this.imageSrc='http://img.youtube.com/vi/'+videoId.value+'/hqdefault.jpg'" [disabled]='!videoId.value'>
                <mat-icon>image</mat-icon>
                유튜브 섬네일 쓰기
            </button>
        </p>
        <p class="btn_area">
            <button mat-raised-button color="primary" (click)="commitData()">추가</button><button mat-raised-button
                (click)="cencel()">취소</button>
        </p>
    </div>
    <div class="thumnail_area">
        <img [src]="imageSrc" />
    </div>
</div>