<div class="wrapper">
    <div class="container">



        <mat-horizontal-stepper linear #stepper class="stepper">
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup" class="stepper-form">
                    <ng-template matStepLabel>가입여부 확인</ng-template>

                    <div class="content">
                    <div class="content-form">

                        <p>
                            <mat-form-field class="content-field">
                                <input matInput formControlName="name" placeholder="이름" required>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="content-field">
                                <mat-label>생년월일</mat-label>
                                <input matInput formControlName="birthDay" [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="content-field">
                                <mat-label>전화번호</mat-label>
                                <input matInput formControlName="phoneNumber" placeholder="-없이 입력" required type="tel">
                            </mat-form-field>
                        </p>
                    </div>
                    </div>
                    <div class="content-btn">
                       <br>
                        <button mat-raised-button color="primary" (click)="signUp(1,stepper)">다음</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>정보 입력</ng-template>
                    <hr>
                    <div class="content">
                        <div class="content-form">
                            <p>
                                <mat-form-field class="content-field">
                                    <mat-label>아이디</mat-label>
                                    <input matInput formControlName="id" placeholder="아이디" required>
                                    <mat-error>아이디 입력해주세요</mat-error>
                                </mat-form-field>

                            </p>
                            <p>
                                <mat-form-field class="content-field">
                                    <mat-label>비밀번호</mat-label>
                                    <input matInput type="password" formControlName="password" placeholder="비밀번호"
                                        required>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field class="content-field">
                                    <mat-label>이름</mat-label>
                                    <input matInput formControlName="name" placeholder="이름" required>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field class="content-field">
                                    <mat-label>생년월일</mat-label>
                                    <input matInput formControlName="birthDay" [matDatepicker]="picker2" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field class="content-field">
                                    <mat-label>전화번호</mat-label>
                                    <input matInput formControlName="phoneNumber" placeholder="-없이 입력" required
                                        type="tel">
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="content-btn">
                            <button mat-raised-button color="primary" (click)="signUp(2,stepper)">가입하기</button>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>가입 완료</ng-template>
                <hr>
                <p>가입이 완료 되었습니다.</p>
                <div>
                    <button mat-button (click)="signUp(3,stepper)">닫기</button>>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>