<div class="content">
    <div class="title-main">
        <span>
            <mat-icon>settings</mat-icon>기본설정
        </span>
    </div>
    <div class="content-box">
        <table>
            <tr>
                <th>
                    타이틀
                </th>
                <td colspan="3">
                    <mat-form-field>
                        <input matInput [value]="settingData.title" (change)="inputData('title',$event.target.value)">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <th>
                    로고
                </th>
                <td>
                    <img [src]="settingData.logo" height="50" (click)="flie_uploader.click()">
                    <input type="file" hidden #flie_uploader accept="image/png, image/jpeg, image/gif, image/jpg"
                        multiple>
                </td>
                <th>
                    링크
                </th>
                <td>
                    <mat-form-field>
                        <input matInput [value]="settingData.logoLink"
                            (change)="inputData('logoLink',$event.target.value)">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <th>
                    footer리스트 설정
                </th>
                <td colspan="3">
                    <ng-container *ngFor="let footer of footerList;let i=index">
                        <span *ngIf="footer.visible">{{footer.name}}</span>
                        <ng-container *ngIf="i<footerList.length-1">
                            |
                        </ng-container>

                    </ng-container>
                    &nbsp;&nbsp;
                    <b class="btn" (click)="delfooter()">삭제</b>
                    <br> <br>
                    <b class="btn" (click)="addBoxTrigger=true" *ngIf="!addBoxTrigger">추가하기</b>
                    <b class="btn" (click)="addBoxTrigger=false" *ngIf="!!addBoxTrigger">닫기</b>
                </td>
            </tr>
            <tr>
                <th></th>
                <td colspan="3">
                    <div class="add-box mat-elevation-z8" *ngIf="!!addBoxTrigger">
                        <mat-form-field class="footer-input">
                            <input matInput placeholder="이름" #name>
                        </mat-form-field>
                        <mat-form-field class="footer-input">
                            <input matInput placeholder="URL" #link>
                        </mat-form-field>
                        <br>
                        표시설정:
                        <mat-radio-group [value]="true">
                            <mat-radio-button [value]="true" style="margin-right:10px;" #visible>표시</mat-radio-button>
                            <mat-radio-button [value]="false" #visible>비표시</mat-radio-button>
                        </mat-radio-group>
                        &nbsp;&nbsp;
                        <mat-radio-group [value]="true">
                            <mat-radio-button [value]="true" style="margin-right:10px;" #disabled>활성화</mat-radio-button>
                            <mat-radio-button [value]="false" #disabled>비활성화</mat-radio-button>
                        </mat-radio-group>
                        <br><br>
                        <button mat-raised-button color="primary"
                            (click)="addfooter(name.value,link.value,visible.checked,disabled.checked)">추가</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    카피라이트 문구변경
                </th>
                <td colspan="3">
                    <mat-form-field>
                        <input matInput [value]="settingData.copyright"
                            (change)="inputData('copyright',$event.target.value)">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <th colspan="4">
                    <app-category></app-category>
                </th>
            </tr>
            <tr>
                <th colspan="4">
                    <button mat-raised-button color="primary">사이트 적용</button>
                </th>
            </tr>
        </table>
    </div>
</div>