<div class="wrapper" [ngClass]="loadingSw?'show_spinner':''">
  <div class="container">
    <div class="loading" *ngIf="loadingSw">
      <mat-spinner class="spinner"></mat-spinner>
    </div>

    <mat-toolbar color="primary">
      <div class="toolbar">

        <span class="title" >
          <mat-icon class="menu">reorder</mat-icon> <span (click)="go_main()">MyCmsApp</span>
        </span>
        <span class="logout-btn">
          <button mat-raised-button color="warn" *ngIf="logined" (click)="logout()">로그아웃</button>
        </span>
      </div>
    </mat-toolbar>
    <div class="list" *ngIf="logined">
      <app-list></app-list>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>