<div class="wrapper" [ngClass]="loadingSw?'show_spinner':''">
  <div class="container">
    <div class="loading" *ngIf="loadingSw">
      <mat-spinner class="spinner"></mat-spinner>
    </div>
    <mat-toolbar color="primary">
      <div class="toolbar">

        <span class="title" >
          <button mat-button (click)="drawer.toggle()"  *ngIf="logined"><mat-icon>menu</mat-icon></button> 
          <span [matBadge]="newMessage"  matBadgeColor="warn" (click)="openMemberPage()" *ngIf="logined">
            MyApp
          </span>
          <span *ngIf="!logined">
            MyApp
          </span>
          
        </span>
        <span class="logout-btn">
          <button mat-raised-button color="warn" *ngIf="logined" (click)="logout()">로그아웃</button>
        </span>
      </div>
    </mat-toolbar>

  <mat-drawer-container class="drawer-continaer" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="list">
      <app-list></app-list>
    </div>
  </mat-drawer>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

  </div>
</div>
