
.toolbar{
  width: 100%;
  .title{
    display: block;
    float: left;
    cursor: pointer;
    font-size: 30px;
    .menu{
      display: none;
    }
  }
  .logout-btn{
    float: right;
  }
}
.wrapper{
  width: 100%;
  height: 100%;
  text-align: center;

  .container{
    margin:0 auto;
    min-width: 800px;
    height: 100%;

    .drawer-continaer{
      width: 100%;
    
      .list{
        display: block;
        max-width:300px;
        height: 100%;
        float: left;
      }
      .content{
        width: 100%;
        height:100%;
        float: left;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
    .footer{
      position: fixed;
      bottom: 0px;
      width: 100%;
      background:#3f51b5;
      color:white;
      height: 49px;
      div{
        padding-top:15px;
      }
    }
  }
  
}
.show_spinner{
  background-color: gray;
  opacity: 0.5;
  pointer-events: none; 
}

.title{
  font-size: larger;
  font-weight: bolder;
}
mat-drawer-container, mat-drawer-content { height: calc(100% - 113px); }
@media screen and (max-width: 860px) {
  .wrapper{
    .container{
      .content{
        width: 100%;
        margin:0 auto;
      }
    }
  }

  .toolbar{
    .title{
      .menu{
         display: inline-block;

      }
    }
  }
}
/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { /*스타일입력*/}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { /*스타일입력*/}

//모바일 대응 x
// /* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
// @media all and (min-width:480px) and (max-width:767px) { /*스타일입력*/}

// /* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
// @media all and (max-width:479px) { /*스타일입력*/}