
        <mat-selection-list [multiple]="false" color="primary">
          <mat-list-option (click)="move_page('main')">메인으로 가기</mat-list-option>
            <mat-list-option>기본 설정</mat-list-option>
            <mat-list-option (click)="move_page('nav')">네비게이션 설정</mat-list-option>
            <mat-list-option>공지사항 등록</mat-list-option>
            <mat-list-option>배너 등록 및 설정</mat-list-option>
            <mat-list-option (click)="move_page('member_management')">회원관리</mat-list-option>
            <mat-list-option>(임시)상품관리</mat-list-option>
          </mat-selection-list>
