<div class="wrapper">
    <div class="title-main">
        <span>
            <mat-icon class="icon">tv</mat-icon><b>판매현황</b>
            <span class="end" routerLink="../analytics">전체보기</span>
        </span>
    </div>
    <div class="chart">
        <div class="chart-left">
            <span class="title">월별 판매량수</span>
            <canvas #count_by_mounth class="chart-base">
            </canvas>
        </div>
        <div class="chart-right">
            <span class="title">종류별 판매량</span>
            <canvas #count_by_category class="chart-base">
            </canvas>
        </div>
    </div>
</div>